html, body {
    height: 100%;
    width: 100%;
}
.my-navbar {
    background-color: #343a40 !important;
}
    .my-navbar .nav-link {
        color: #ffffff;
        font-size: 18px;
    }

.welcome-header {
    text-align: center;
    text-shadow: 2px 2px 8px #0f0f0f;
}

.home-page-description {
    display: flex;
    margin: 50px 0px 50px 0px;
    height: 150px;
}

section {
    width: 63%;
    margin-right: 50px;
}

.home-page-description h5  {
    text-align: center;
}

@font-face {
    font-family: restFont;
    src: url(sansation_light.woff);
}

.multi-col {
    column-count: 2;
    font-family: restFont;
}

aside {
    position: center;
    margin-left: 120px;
}

.rest-video {
    width: 160px;
    height: 120px;
    transition: width 2s, height 2s;
}

.rest-video:hover {
    width: 200px;
    height: 150px;
}


 .top5-header {
    text-align: center;
}

.rest-num {
    text-align: center;
}

#one {
    color: #e0aa03;
}

#two {
    color: #9A9A9A;
}

#three {
    color: #CC913C;
}

.top5-rest {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.rest {
    color: #000;
    font: inherit;
    vertical-align: baseline;
    border: 7px #dedbdb solid;
    margin: 0 8px 16px 8px;
    float: none;
    height: auto;
    padding: 10px;
    margin-bottom: 3px;
}

.rest-img{
    color: #000;
    font: inherit;
    border: 0;
    margin: 0;
    vertical-align: baseline;
    padding: 10px 5px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    overflow: hidden;
    width: 100px;
    height: 100px;
    float: none;
}

.rest-link {
    list-style: none;
    text-align: center;
    font: inherit;
    padding: 0;
    border: 0;
    margin: 0;
    vertical-align: baseline;
    color: #000;
    text-decoration: none;
    line-height: 22px;
    border-top: 2px #000 solid;
    border-bottom: 2px #000 solid;
    display: block;
    background: #e5e5e5;
    font-weight: bold;
}

.stat-header{
    text-align: center;
}

.rest-statistics {
    display: flex;
    margin-top: 100px;
}

.rest-by-review {
    width: 30%;
    padding-right: 30px;
}


.rest-by-rate {
    width: 30%;
    padding-right: 30px;
}

.top-raters{
    width: 30%;
}

/*Top voters table*/
#leaderboards > * {
    position: relative;
    font-size: 14px;
    display: inline-block;
}

#leaderboards .toplist {
    list-style: none;
    float: right;
    width: 300px;
}

    #leaderboards .toplist li {
        background: white;
        width: 300px;
        border-radius: 6px;
        margin-bottom: 14px;
        box-shadow: 0 4px #C2C2C2;
        position: relative;
        cursor: pointer;
    }

        #leaderboards .toplist li .thumb {
            padding: 20px 20px 19px;
            font-weight: bold;
            font-size: 0;
            line-height: 36px;
            position: relative;
        }

            #leaderboards .toplist li .thumb span {
                display: inline-block;
                vertical-align: middle;
                font-size: 15px;
            }

            #leaderboards .toplist li .thumb .stat {
                position: absolute;
                top: 26px;
                right: 90px;
                line-height: 16px;
                text-transform: uppercase;
                text-align: center;
                font-size: 10px;
            }

                #leaderboards .toplist li .thumb .stat b {
                    display: block;
                    font-size: 20px;
                    margin: 0;
                }

        #leaderboards .toplist li:after {
            content: attr(data-rank);
            position: absolute;
            top: 0;
            right: 0;
            float: right;
            background: #EAEAEA;
            height: 75px;
            width: 75px;
            display: block;
            text-align: center;
            line-height: 75px;
            font-size: 16px;
            color: #666;
            font-weight: bold;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            box-shadow: 0 4px rgba(0,0,0,0.05);
        }

        #leaderboards .toplist li[data-rank="1"]:after,
        #leaderboards .toplist li[data-rank="2"]:after,
        #leaderboards .toplist li[data-rank="3"]:after {
            font-size: 24px;
            font-style: normal;
            font-weight: normal;
            line-height: 77px;
        }

        #leaderboards .toplist li[data-rank="1"]:after {
            color: #e0aa03;
        }

        #leaderboards .toplist li[data-rank="2"]:after {
            color: #9A9A9A;
        }

        #leaderboards .toplist li[data-rank="3"]:after {
            color: #CC913C;
        }