@model RateTheRest.Models.Chef

@{
    ViewData["Title"] = "Edit";
    var restaurants = (List<Restaurant>)ViewData["Restaurants"];
}

<script defer src="~/js/Chefs_CreateEdit.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>

<h1>Edit</h1>
<h4>Chef</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ChefID" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="2"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Portrait" class="control-label"></label>
                @if (Model.Portrait != null)
                {
                    <div><img src="@Url.Content(Model.Portrait.Path)" alt="Portrait" class="img-thumbnail" width="100" height="100"></div>
                }
                <input name="portrait" type="file" class="form-control-file" />
            </div>

            <div class="form-group">
                <label asp-for="Restaurants" class="control-label"></label>
                @if (Model.Restaurants != null && Model.Restaurants.Count > 0)
                {
                    <ul>
                        @foreach (Restaurant r in Model.Restaurants)
                        {
                            <li>@r.Name</li>
                        }
                        <li><input name="restaurants" type="checkbox" class="form-check-input" value="0" />Clear all assigned restaurants</li>
                    </ul>
                }
                <select class="MultipleCheckboxes" name="restaurants" multiple>
                    @foreach (Restaurant r in restaurants)
                    {
                        <option value="@r.RestaurantID">@r.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
